// Variables Stylesheet

// Colors
$color-brown-1: #988430;
$color-brown-2: #7a6a2a;
$color-brown-3: #ba9f33;
$color-brown-4: #a17c34;
$color-brown-5: #92723a;
$color-brown-6: #e2cc85;


$color-black-olive: #212922;
